<div>

    <h2>Jogo da Velha</h2>

    <div class="principal"> <!--Tela Inicial-->
        <a href="#" class="botao">Iniciar</a>
    </div> <!-- fim tela inicial -->

    <div> <!--Tabuleiro-->
        <ul>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-right"></li>
            <li class="kz-border-right"></li>
            <li></li>  
        </ul>
    </div> <!-- fim tabuleiro --> 

    <div> <!-- tela final -->
        <span>
            <p>Você venceu!!!</p>
            <p>Você perdeu...</p>
            <p>O jogo terminou empatado...</p> <br />
            <a href="#" class="botao">Jogar novamente</a>
        </span>
    </div> <!-- fim tela final -->

</div>
