<h1>Tarefas</h1>

<table class="table table-md table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th style="vertical-align: middle;">Tarefas</th>
            <th style="vertical-align: middle;">Concluída</th>
            <th class="text-center">
                <a [routerLink]="['/tarefas/cadastrar']" class="btn btn-sm btn-success">
                   <span class="fa-solid fa-plus" aria-hidden="true"></span> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let tarefa of tarefas">
            <td style="vertical-align: middle;" [class.table-success]="!tarefa.concluida">
                {{ tarefa.nome }}
            </td>
            <td style="width: 70px" class="text-center"> 
                <input type="checkbox" [value]="tarefa.id" [checked]="tarefa.concluida" (click)="alterarStatus(tarefa)">
            </td>
            <td class="text-center" style="width: 250px">
                <a [routerLink]="['/tarefas/editar', tarefa.id]" title="Editar" alt="Editar" class="btn btn-sm btn-primary">
                    <span class="fa-solid fa-pen" aria-hidden="true"></span> Editar
                </a>
                &nbsp;&nbsp;
                <a href="#" title="Remover" alt="Remover" class="btn btn-sm btn-danger" (click)="remover($event, tarefa)">
                    <span class="fa-solid fa-xmark" aria-hidden="true"></span> Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="tarefas.length==0">Nenhuma tarefa cadastrada.</p>