<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4">
                <div class="text-center bg-primary img-rounded kz-pad-20">
                    <div class="row"> 
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger kz-btn" (click)="limpar()">C</button>
                        </div>
                        <div class="col-md-9">
                            <input type="text" 
                            class="form-control text-right kz-input-text" 
                            id="display" 
                            name="display"
                            [value]="display"
                            readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn7" (click)="adicionarNumero('7')">7</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn8" (click)="adicionarNumero('8')">8</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn9" (click)="adicionarNumero('9')">9</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning kz-btn" id="btnDivisao" (click)="definirOperacao('/')">/</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn4" (click)="adicionarNumero('4')">4</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn5" (click)="adicionarNumero('5')">5</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn6" (click)="adicionarNumero('6')">6</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning kz-btn" id="btnMultiplicacao" (click)="definirOperacao('*')">*</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn1" (click)="adicionarNumero('1')">1</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn2" (click)="adicionarNumero('2')">2</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn3" (click)="adicionarNumero('3')">3</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning kz-btn" id="btnSubtracao" (click)="definirOperacao('-')">-</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btn0" (click)="adicionarNumero('0')">0</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-light kz-btn" id="btnDecimal" (click)="adicionarNumero('.')">.</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-success kz-btn" id="btnCalcular" (click)="calcular()">=</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning kz-btn" id="btnSoma" (click)="definirOperacao('+')">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
